In [1]:
import duckdb
import pandas as pd

# Connect to the database
connection = duckdb.connect("gtfs_fp2024_2023-09-27_04-15.db", read_only=False)

In [7]:
# Print the first 20 rows of trips and the first 20 rows of routes
qry_trips = "SELECT * FROM trips LIMIT 20"
qry_routes = "SELECT * FROM routes LIMIT 20"

df_trips = connection.sql(qry_trips).df()
df_routes = connection.sql(qry_routes).df()

print("Trips")

print("Routes")
df_routes

Trips
Routes

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type
0,91-10-A-j24-1,78,S10,None,S,109
1,91-10-B-j24-1,11,S10,None,S,109
2,91-10-C-j24-1,65,S10,None,S,109
3,91-10-E-j24-1,3849,10,None,T,900
4,91-10-j24-1,37,10,None,T,900
5,91-11-A-j24-1,11,S11,None,S,109
6,91-11-B-j24-1,327000,S11,None,S,109
7,91-11-C-j24-1,3849,11,None,T,900
8,91-11-j24-1,37,11,None,T,900
9,91-11-J-j24-1,33,R11,None,R,106
10,91-11-K-j24-1,72,R11,None,R,106
11,91-11-L-j24-1,81,S11,None,S,109
12,91-11-M-j24-1,97,R11,None,R,106
13,91-11-N-j24-1,33,RE11,None,RE,106
14,91-11-O-j24-1,33,S11,None,S,109
15,91-12-A-j24-1,65,S12,None,S,109
16,91-12-B-j24-1,881,12,None,T,900
17,91-12-C-j24-1,3849,12,None,T,900
18,91-12-I-j24-1,11,RE12,None,RE,106
19,91-12-j24-1,11,S12,None,S,109

In [8]:
df_trips

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id
0,91-10-A-j24-1,TA+vlr60,1.TA.91-10-A-j24-1.1.H,Zürich HB SZU,12902,0,None
1,91-10-A-j24-1,TA+vlr60,10.TA.91-10-A-j24-1.1.H,Zürich HB SZU,12766,0,None
2,91-10-A-j24-1,TA+ner60,100.TA.91-10-A-j24-1.7.H,Zürich HB SZU,12960,0,None
3,91-10-A-j24-1,TA+vlr60,101.TA.91-10-A-j24-1.7.H,Zürich HB SZU,12874,0,None
4,91-10-A-j24-1,TA+ner60,102.TA.91-10-A-j24-1.7.H,Zürich HB SZU,12944,0,None
5,91-10-A-j24-1,TA,103.TA.91-10-A-j24-1.7.H,Zürich HB SZU,12964,0,None
6,91-10-A-j24-1,TA+ner60,104.TA.91-10-A-j24-1.7.H,Zürich HB SZU,12824,0,None
7,91-10-A-j24-1,TA+ner60,105.TA.91-10-A-j24-1.7.H,Zürich HB SZU,12844,0,None
8,91-10-A-j24-1,TA+ner60,106.TA.91-10-A-j24-1.7.H,Zürich HB SZU,12828,0,None
9,91-10-A-j24-1,TA+ner60,107.TA.91-10-A-j24-1.7.H,Zürich HB SZU,12836,0,None
10,91-10-A-j24-1,TA+ner60,108.TA.91-10-A-j24-1.7.H,Zürich HB SZU,12892,0,None
11,91-10-A-j24-1,TA+ner60,109.TA.91-10-A-j24-1.7.H,Zürich HB SZU,12900,0,None
12,91-10-A-j24-1,TA+vlr60,11.TA.91-10-A-j24-1.1.H,Zürich HB SZU,12918,0,None
13,91-10-A-j24-1,TA+ner60,110.TA.91-10-A-j24-1.7.H,Zürich HB SZU,12884,0,None
14,91-10-A-j24-1,TA+ner60,111.TA.91-10-A-j24-1.7.H,Zürich HB SZU,12860,0,None
15,91-10-A-j24-1,TA+ner60,112.TA.91-10-A-j24-1.7.H,Zürich HB SZU,12868,0,None
16,91-10-A-j24-1,TA+ner60,113.TA.91-10-A-j24-1.7.H,Zürich HB SZU,12876,0,None
17,91-10-A-j24-1,TA+ner60,114.TA.91-10-A-j24-1.7.H,Zürich HB SZU,12852,0,None
18,91-10-A-j24-1,TA+ner60,115.TA.91-10-A-j24-1.24.H,Zürich HB SZU,12904,0,None
19,91-10-A-j24-1,TA+ner60,116.TA.91-10-A-j24-1.24.H,Zürich HB SZU,12848,0,None

In [9]:
# Query trips where the route_id contains 466
qry_trips = "SELECT * FROM trips WHERE route_id LIKE '%466%' LIMIT 20"
df_trips = connection.sql(qry_trips).df()

print("Trips with route_id containing 466")
df_trips

Trips with route_id containing 466

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id
0,92-466-j24-1,TA+qxq60,1.TA.92-466-j24-1.1.H,"Ersigen, Gemeindehaus",16132,0,None
1,92-466-j24-1,TA+qxq60,10.TA.92-466-j24-1.1.H,"Ersigen, Gemeindehaus",16092,0,None
2,92-466-j24-1,TA+zwq60,11.TA.92-466-j24-1.1.H,"Ersigen, Gemeindehaus",16182,0,None
3,92-466-j24-1,TA+qxq60,12.TA.92-466-j24-1.1.H,"Ersigen, Gemeindehaus",16122,0,None
4,92-466-j24-1,TA+qxq60,13.TA.92-466-j24-1.1.H,"Ersigen, Gemeindehaus",16082,0,None
5,92-466-j24-1,TA+zwq60,14.TA.92-466-j24-1.1.H,"Ersigen, Gemeindehaus",16062,0,None
6,92-466-j24-1,TA,15.TA.92-466-j24-1.2.H,"Koppigen, Gemeindeverwaltung",16226,0,None
7,92-466-j24-1,TA+dxq60,16.TA.92-466-j24-1.2.H,"Koppigen, Gemeindeverwaltung",16236,0,None
8,92-466-j24-1,TA,17.TA.92-466-j24-1.2.H,"Koppigen, Gemeindeverwaltung",16216,0,None
9,92-466-j24-1,TA,18.TA.92-466-j24-1.3.H,"Wynigen, Bahnhof",16186,0,None
10,92-466-j24-1,TA+qxq60,19.TA.92-466-j24-1.3.H,"Wynigen, Bahnhof",16056,0,None
11,92-466-j24-1,TA+zwq60,2.TA.92-466-j24-1.1.H,"Ersigen, Gemeindehaus",16192,0,None
12,92-466-j24-1,TA,20.TA.92-466-j24-1.3.H,"Wynigen, Bahnhof",16096,0,None
13,92-466-j24-1,TA,21.TA.92-466-j24-1.3.H,"Wynigen, Bahnhof",16206,0,None
14,92-466-j24-1,TA,22.TA.92-466-j24-1.3.H,"Wynigen, Bahnhof",16086,0,None
15,92-466-j24-1,TA,23.TA.92-466-j24-1.3.H,"Wynigen, Bahnhof",16116,0,None
16,92-466-j24-1,TA,24.TA.92-466-j24-1.3.H,"Wynigen, Bahnhof",16176,0,None
17,92-466-j24-1,TA,25.TA.92-466-j24-1.3.H,"Wynigen, Bahnhof",16126,0,None
18,92-466-j24-1,TA,26.TA.92-466-j24-1.3.H,"Wynigen, Bahnhof",16156,0,None
19,92-466-j24-1,TA,27.TA.92-466-j24-1.3.H,"Wynigen, Bahnhof",16146,0,None

In [10]:
# Query trips where the route_id contains 466 and route_desc contains 'NJ' (for nightjet)
qry_routes= "SELECT * FROM routes WHERE route_id LIKE '%466%' AND route_desc LIKE '%NJ%' LIMIT 20"
df_routes = connection.sql(qry_routes).df()

print("Routes with route_id containing 466 and route_desc containing 'NJ'")
df_routes

Routes with route_id containing 466 and route_desc containing 'NJ'

Empty DataFrame
Columns: [route_id, agency_id, route_short_name, route_long_name, route_desc, route_type]
Index: []

In [12]:
# Query trips where the route_desc contains 'NJ' (for nightjet)
qry_routes= "SELECT * FROM routes WHERE route_desc LIKE '%NJ%' LIMIT 20"
df_routes = connection.sql(qry_routes).df()

print("Routes with route_desc containing 'NJ'")
df_routes

Routes with route_desc containing 'NJ'

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type
0,91-2P-Y-j24-1,11,NJ,None,NJ,105
1,91-36-Y-j24-1,11,NJ,None,NJ,105
2,91-E6-Y-j24-1,11,NJ,None,NJ,105

In [5]:
# Query the routes and join them with the trips

query = f"""
SELECT
    routes.route_id,
    routes.route_short_name,
    routes.route_long_name,
    routes.route_type,
    trips.trip_id,
    trips.service_id,
    trips.trip_headsign,
    trips.direction_id
FROM
    routes
JOIN
    trips
ON
    routes.route_id = trips.route_id
LIMIT 20
"""

df = connection.sql(query).df()

print("Routes and Trips")
df

Routes and Trips

,route_id,route_short_name,route_long_name,route_type,trip_id,service_id,trip_headsign,direction_id
0,92-932-j24-1,932,None,700,1.TA.92-932-j24-1.1.H,TA+ywq60,"Uetikon am See, Bahnhof",0
1,92-932-j24-1,932,None,700,10.TA.92-932-j24-1.1.H,TA+ywq60,"Uetikon am See, Bahnhof",0
2,92-932-j24-1,932,None,700,11.TA.92-932-j24-1.1.H,TA+ywq60,"Uetikon am See, Bahnhof",0
3,92-932-j24-1,932,None,700,12.TA.92-932-j24-1.1.H,TA+ywq60,"Uetikon am See, Bahnhof",0
4,92-932-j24-1,932,None,700,13.TA.92-932-j24-1.1.H,TA+ywq60,"Uetikon am See, Bahnhof",0
5,92-932-j24-1,932,None,700,14.TA.92-932-j24-1.2.R,TA+ywq60,"Uetikon am See, Stötzli",1
6,92-932-j24-1,932,None,700,15.TA.92-932-j24-1.2.R,TA+ywq60,"Uetikon am See, Stötzli",1
7,92-932-j24-1,932,None,700,16.TA.92-932-j24-1.2.R,TA+ywq60,"Uetikon am See, Stötzli",1
8,92-932-j24-1,932,None,700,17.TA.92-932-j24-1.2.R,TA+ywq60,"Uetikon am See, Stötzli",1
9,92-932-j24-1,932,None,700,18.TA.92-932-j24-1.2.R,TA+ywq60,"Uetikon am See, Stötzli",1
10,92-932-j24-1,932,None,700,19.TA.92-932-j24-1.2.R,TA+ywq60,"Uetikon am See, Stötzli",1
11,92-932-j24-1,932,None,700,2.TA.92-932-j24-1.1.H,TA+ywq60,"Uetikon am See, Bahnhof",0
12,92-932-j24-1,932,None,700,20.TA.92-932-j24-1.2.R,TA+ywq60,"Uetikon am See, Stötzli",1
13,92-932-j24-1,932,None,700,21.TA.92-932-j24-1.2.R,TA+ywq60,"Uetikon am See, Stötzli",1
14,92-932-j24-1,932,None,700,22.TA.92-932-j24-1.2.R,TA+ywq60,"Uetikon am See, Stötzli",1
15,92-932-j24-1,932,None,700,23.TA.92-932-j24-1.2.R,TA+ywq60,"Uetikon am See, Stötzli",1
16,92-932-j24-1,932,None,700,24.TA.92-932-j24-1.2.R,TA+ywq60,"Uetikon am See, Stötzli",1
17,92-932-j24-1,932,None,700,25.TA.92-932-j24-1.2.R,TA+ywq60,"Uetikon am See, Stötzli",1
18,92-932-j24-1,932,None,700,26.TA.92-932-j24-1.2.R,TA+ywq60,"Uetikon am See, Stötzli",1
19,92-932-j24-1,932,None,700,3.TA.92-932-j24-1.1.H,TA+ywq60,"Uetikon am See, Bahnhof",0

In [2]:
# Query the stops and join them with the stop_times
qry = f"""
SELECT
    stops.stop_id,
    stops.stop_name,
    stops.stop_lat,
    stops.stop_lon,
    stop_times.trip_id,
    stop_times.arrival_time,
    stop_times.departure_time,
    stop_times.stop_sequence
FROM
    stops
JOIN
    stop_times
ON
    stops.stop_id = stop_times.stop_id
LIMIT 20
"""

df = connection.sql(qry).df()
df

,stop_id,stop_name,stop_lat,stop_lon,trip_id,arrival_time,departure_time,stop_sequence
0,8506118:0:1,Triboltingen,47.662897,9.108764,38.TA.91-1-C-j24-1.827.H,11:51:00,11:51:00,28
1,8506133:0:1,Ermatingen,47.669999,9.085669,38.TA.91-1-C-j24-1.827.H,11:52:00,11:52:00,29
2,8506134:0:1,Mannenbach-Salenstein,47.673653,9.052799,38.TA.91-1-C-j24-1.827.H,11:55:00,11:55:00,30
3,8506135:0:2,Berlingen,47.673211,9.022023,38.TA.91-1-C-j24-1.827.H,11:58:00,11:58:00,31
4,8506136,Steckborn,47.664506,8.981033,38.TA.91-1-C-j24-1.827.H,12:02:00,12:02:00,32
5,8506137:0:1,Mammern,47.644162,8.914001,38.TA.91-1-C-j24-1.827.H,12:07:00,12:07:00,33
6,8506138,Eschenz,47.645409,8.876559,38.TA.91-1-C-j24-1.827.H,12:10:00,12:10:00,34
7,8506139:0:2,Stein am Rhein,47.656108,8.855017,38.TA.91-1-C-j24-1.827.H,12:13:00,12:16:00,35
8,8506025,Etzwilen,47.661142,8.818617,38.TA.91-1-C-j24-1.827.H,12:19:00,12:19:00,36
9,8503429:0:1,Schlattingen,47.666624,8.770432,38.TA.91-1-C-j24-1.827.H,12:22:00,12:22:00,37
10,8503428:0:1,Diessenhofen,47.685471,8.752295,38.TA.91-1-C-j24-1.827.H,12:26:00,12:26:00,38
11,8506148:0:1,St. Katharinental,47.687563,8.732038,38.TA.91-1-C-j24-1.827.H,12:28:00,12:28:00,39
12,8503427,Schlatt TG,47.679502,8.687508,38.TA.91-1-C-j24-1.827.H,12:32:00,12:32:00,40
13,8503426:0:1,Langwiesen,47.683451,8.662320,38.TA.91-1-C-j24-1.827.H,12:34:00,12:34:00,41
14,8503425,Feuerthalen,47.692171,8.645970,38.TA.91-1-C-j24-1.827.H,12:37:00,12:38:00,42
15,8503424:0:1,Schaffhausen,47.698284,8.632756,38.TA.91-1-C-j24-1.827.H,12:43:00,12:43:00,43
16,8501026:0:4,Genève-Aéroport,46.232537,6.111984,38.TA.91-1-D-j24-1.732.H,13:32:00,13:32:00,1
17,8501008:0:4,Genève,46.210212,6.142455,38.TA.91-1-D-j24-1.732.H,13:39:00,13:42:00,2
18,8501120:0:1,Lausanne,46.516793,6.629091,38.TA.91-1-D-j24-1.732.H,14:17:00,14:19:00,3
19,8504100:0:4,Fribourg/Freiburg,46.803149,7.151048,38.TA.91-1-D-j24-1.732.H,15:03:00,15:04:00,4

In [3]:
# Query the stops
qry = f"""
SELECT
    *
FROM
    stops
LIMIT 20
"""

df = connection.sql(qry).df()
df

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station
0,1100723,"Inzlingen, Zoll",47.585586,7.672664,NaN,None
1,1101316,"Büsingen, Bürgerhaus",47.696277,8.688029,NaN,None
2,1101319,"Büsingen, Kirche St. Michael",47.698780,8.703058,NaN,None
3,1101323,"Büsingen, Schifflände",47.696875,8.693877,NaN,None
4,1101324,"Büsingen, Stemmer",47.686408,8.668895,NaN,None
5,1101326,"Büsingen, Strandbad",47.696210,8.697372,NaN,None
6,1101327,"Büsingen, Wiesli",47.690671,8.681067,NaN,None
7,1101459,"Murbach (D), Zum Grenzstein",47.714720,8.767189,NaN,None
8,1101535,"Konstanz, Bahnhof",47.659345,9.176991,NaN,None
9,1101589,"Konstanz, Konzilstr./Theater",47.662727,9.177674,NaN,None
10,1101615,"Konstanz, Schweizer Bahnhof",47.658547,9.176794,NaN,None
11,1101622,"Konstanz, Sternenplatz",47.667537,9.179471,NaN,None
12,1101633,"Konstanz, Zähringerplatz",47.672879,9.183684,NaN,None
13,1101636,"Konstanz, Marktstätte/Bahnhof",47.659630,9.177036,NaN,None
14,1101805,Radolfzell (Bodensee),47.735103,8.969328,NaN,None
15,1101889,"Randegg (Hegau), Ortsmitte",47.722027,8.752322,NaN,None
16,1101890,"Randegg (Hegau), Ottilienstr.",47.722474,8.755834,NaN,None
17,1101894,Reichenau (See),47.689740,9.054228,NaN,None
18,1104775,"Grenzach, Bärenfelsstrasse",47.554179,7.651823,NaN,None
19,1104777,"Grenzach, Gleusen",47.551172,7.669924,NaN,None

In [7]:
# Get a trip with the trip short name being either 17790, 17786
trips = ["17790", "17786"]
# Query trips where the route_id contains 466
qry_trips = f"""SELECT * FROM trips WHERE trip_short_name IN {trips} LIMIT 20"""
df_trips = connection.sql(qry_trips).df()

print("Trips with trip_short_name containing 17790, 17786")
df_trips

Trips with route_id containing 17790, 17786

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id
0,92-66-B-j24-1,TA+ywq60,295.TA.92-66-B-j24-1.3.H,"Kilchberg ZH, Kirche",17786,0,None
1,92-77-j24-1,TA+ywq60,6.TA.92-77-j24-1.1.H,"Zürich, Balgrist Ost",17790,0,None

In [16]:
# Query the stops and join them with the stop_times and the trips
trips = ["17790"]
qry = f"""
SELECT
    stops.stop_id,
    stops.stop_name,
    stop_times.trip_id,
    stop_times.arrival_time,
    stop_times.departure_time,
    stop_times.stop_sequence,
    trips.trip_short_name,
    trips.trip_headsign
FROM
    stops
JOIN
    stop_times
ON
    stops.stop_id = stop_times.stop_id
JOIN
    trips
ON
    stop_times.trip_id = trips.trip_id
WHERE trips.trip_short_name IN {trips}
LIMIT 50
"""

df = connection.sql(qry).df()
df

,stop_id,stop_name,trip_id,arrival_time,departure_time,stop_sequence,trip_short_name,trip_headsign
0,8530812,"Zürich, Hegibachplatz",6.TA.92-77-j24-1.1.H,19:54:00,19:54:00,1,17790,"Zürich, Balgrist Ost"
1,8591094,"Zürich, Botanischer Garten",6.TA.92-77-j24-1.1.H,19:55:00,19:55:00,2,17790,"Zürich, Balgrist Ost"
2,8591040,"Zürich, Altenhofstrasse",6.TA.92-77-j24-1.1.H,19:56:00,19:57:00,3,17790,"Zürich, Balgrist Ost"
3,8591440,"Zürich, Wonnebergstrasse",6.TA.92-77-j24-1.1.H,19:58:00,19:58:00,4,17790,"Zürich, Balgrist Ost"
4,8591133,"Zürich, Flühgasse",6.TA.92-77-j24-1.1.H,19:59:00,19:59:00,5,17790,"Zürich, Balgrist Ost"
5,8591120,"Zürich, EPI-Klinik",6.TA.92-77-j24-1.1.H,19:59:00,20:00:00,6,17790,"Zürich, Balgrist Ost"
6,8591212,"Zürich, Im Walder",6.TA.92-77-j24-1.1.H,20:01:00,20:01:00,7,17790,"Zürich, Balgrist Ost"
7,8510013,"Zollikon, Niederhofenrain",6.TA.92-77-j24-1.1.H,20:02:00,20:02:00,8,17790,"Zürich, Balgrist Ost"
8,8510010,"Zürich, Klinik Hirslanden",6.TA.92-77-j24-1.1.H,20:03:00,20:03:00,9,17790,"Zürich, Balgrist Ost"
9,8510553,"Zürich, Balgrist Ost",6.TA.92-77-j24-1.1.H,20:04:00,20:04:00,10,17790,"Zürich, Balgrist Ost"

In [22]:
# Query the stops and join them with the stop_times and the trips, filter to Zürich HB (BPUIC = stop_id: 8503000)
liniend_ids = ["1007", "1009", "1011", "10318", "10320"]
qry = f"""
SELECT
    stops.stop_id,
    stops.stop_name,
    stop_times.trip_id,
    stop_times.arrival_time,
    stop_times.departure_time,
    stop_times.stop_sequence,
    trips.trip_short_name,
    trips.trip_headsign
FROM
    stops
JOIN
    stop_times
ON
    stops.stop_id = stop_times.stop_id
JOIN
    trips
ON
    stop_times.trip_id = trips.trip_id
WHERE stops.stop_id LIKE '%8503000%' AND trips.trip_short_name IN {liniend_ids}
LIMIT 50
"""

df = connection.sql(qry).df()
df

,stop_id,stop_name,trip_id,arrival_time,departure_time,stop_sequence,trip_short_name,trip_headsign
0,8503000:0:18,Zürich HB,2.TA.91-19-Y-j24-1.100.H,07:26:00,07:26:00,2,1009,Zürich HB
1,8503000:0:18,Zürich HB,1.TA.91-19-Y-j24-1.100.H,06:26:00,06:26:00,2,1007,Zürich HB
2,8503000:0:18,Zürich HB,3.TA.91-19-Y-j24-1.101.H,08:26:00,08:26:00,2,1011,Zürich HB

In [24]:
# Query the stops and join them with the stop_times and the trips, filter to Zürich HB (BPUIC = stop_id: 8503000)
liniend_ids = ["1007", "1009", "1011", "1251", "1253", "1255", "1258", "1260", "1333"]
qry = f"""
SELECT
    stops.stop_id,
    stops.stop_name,
    stop_times.trip_id,
    stop_times.arrival_time,
    stop_times.departure_time,
    stop_times.stop_sequence,
    trips.trip_short_name,
    trips.trip_headsign
FROM
    stops
JOIN
    stop_times
ON
    stops.stop_id = stop_times.stop_id
JOIN
    trips
ON
    stop_times.trip_id = trips.trip_id
WHERE stops.stop_id LIKE '%8503000%' AND trips.trip_short_name IN {liniend_ids}
LIMIT 50
"""

df = connection.sql(qry).df()
df

,stop_id,stop_name,trip_id,arrival_time,departure_time,stop_sequence,trip_short_name,trip_headsign
0,8503000:0:13,Zürich HB,72.TA.91-3-C-j24-1.125.H,21:22:00,21:34:00,5,1258,Basel SBB
1,8503000:0:13,Zürich HB,75.TA.91-3-C-j24-1.130.H,21:22:00,21:34:00,5,1258,Basel SBB
2,8503000:0:18,Zürich HB,1.TA.91-19-Y-j24-1.100.H,06:26:00,06:26:00,2,1007,Zürich HB
3,8503000:0:10,Zürich HB,111.TA.91-3-C-j24-1.232.R,08:00:00,08:00:00,3,1253,Zürich HB
4,8503000:0:15,Zürich HB,1.TA.91-4B-Y-j24-1.48.H,21:08:00,21:08:00,1,1260,Basel SBB
5,8503000:0:18,Zürich HB,2.TA.91-19-Y-j24-1.100.H,07:26:00,07:26:00,2,1009,Zürich HB
6,8503000:0:13,Zürich HB,22.TA.91-29-Y-j24-1.109.R,18:32:00,18:32:00,9,1333,Zürich HB
7,8503000:0:15,Zürich HB,2.TA.91-4B-Y-j24-1.45.H,21:08:00,21:08:00,1,1260,Basel SBB
8,8503000:0:6,Zürich HB,144.TA.91-3-C-j24-1.288.R,09:07:00,09:07:00,1,1255,Chur
9,8503000:0:6,Zürich HB,150.TA.91-3-C-j24-1.609.R,09:00:00,09:07:00,3,1255,Chur
10,8503000:0:6,Zürich HB,169.TA.91-3-C-j24-1.639.R,08:00:00,08:07:00,3,1253,Chur
11,8503000:0:13,Zürich HB,16.TA.91-3-C-j24-1.509.H,21:34:00,21:34:00,1,1258,Basel SBB
12,8503000:0:18,Zürich HB,3.TA.91-19-Y-j24-1.101.H,08:26:00,08:26:00,2,1011,Zürich HB
13,8503000:0:15,Zürich HB,3.TA.91-4B-Y-j24-1.9.H,21:08:00,21:08:00,1,1260,Basel SBB
14,8503000:0:11,Zürich HB,88.TA.91-3-C-j24-1.165.R,07:00:00,07:00:00,3,1251,Zürich HB
15,8503000:0:10,Zürich HB,99.TA.91-3-C-j24-1.179.R,09:00:00,09:00:00,3,1255,Zürich HB
16,8503000:0:10,Zürich HB,4.TA.91-4B-Y-j24-1.47.H,21:08:00,21:08:00,1,1260,Basel SBB

In [30]:
# query the trip_short_names and group them by the trip_short_name
qry = f"""
SELECT
    trips.trip_short_name,
    COUNT(trips.trip_short_name) as count,
    FIRST(stops.stop_name) as stop_name,
    FIRST(trips.trip_headsign) as trip_headsign
FROM
    stops
JOIN
    stop_times
ON
    stops.stop_id = stop_times.stop_id
JOIN
    trips
ON
    stop_times.trip_id = trips.trip_id
WHERE stops.stop_id LIKE '%8503000%'
GROUP BY
    trips.trip_short_name
ORDER BY
    count DESC
LIMIT 50
"""
df = connection.sql(qry).df()
df

   trip_short_name  count  stop_name       trip_headsign
0                4     11  Zürich HB         Baden-Baden
1             2367     10  Zürich HB                Chur
2              735     10  Zürich HB          St. Gallen
3             2353      9  Zürich HB                Chur
4             2377      9  Zürich HB                Chur
5             2386      8  Zürich HB                Bern
6               78      8  Zürich HB         Baden-Baden
7               77      8  Zürich HB           Zürich HB
8             2365      6  Zürich HB                Chur
9               75      6  Zürich HB           Zürich HB
10            2358      6  Zürich HB                Bern
11             581      6  Zürich HB                Chur
12            2374      6  Zürich HB                Bern
13            2381      6  Zürich HB                Chur
14            2370      6  Zürich HB                Bern
15             150      6  Zürich HB           Basel SBB
16             310      6  Zürich HB           Zürich HB
17              79      6  Zürich HB           Zürich HB
18            2385      6  Zürich HB                Chur
19            2368      6  Zürich HB                Bern
20            2376      6  Zürich HB                Bern
21             539      6  Zürich HB           Zürich HB
22             271      6  Zürich HB                Chur
23            2359      6  Zürich HB                Chur
24            2361      6  Zürich HB                Chur
25             583      6  Zürich HB                Chur
26             569      6  Zürich HB                Chur
27              73      6  Zürich HB           Zürich HB
28            2354      6  Zürich HB                Bern
29             537      6  Zürich HB           Zürich HB
30             729      5  Zürich HB          St. Gallen
31             705      5  Zürich HB          St. Gallen
32             841      5  Zürich HB           Zürich HB
33             907      5  Zürich HB                Chur
34             715      5  Zürich HB          St. Gallen
35             885      5  Zürich HB              Lugano
36            2369      5  Zürich HB                Chur
37             704      5  Zürich HB     Genève-Aéroport
38             721      5  Zürich HB          St. Gallen
39            1992      5  Zürich HB           Basel SBB
40            1990      5  Zürich HB           Basel SBB
41             866      5  Zürich HB           Zürich HB
42             327      5  Zürich HB  Genova P. Principe
43            2363      5  Zürich HB                Chur
44             714      5  Zürich HB     Genève-Aéroport
45            2213      5  Zürich HB           Zürich HB
46           18892      5  Zürich HB          Winterthur
47             403      5  Zürich HB           Zürich HB
48            2286      5  Zürich HB           Basel SBB
49             720      5  Zürich HB     Genève-Aéroport